* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-area {
	width: 300px;
	height: 344px;
	padding: 1rem;
	border: 1px solid grey;
	border-radius: 6px;
	background-color: #837979ad; /*    background-color: #837979ad; */
	-webkit-box-shadow: 3px 3px 5px 0px rgba(171, 171, 171, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(171, 171, 171, 1);
	box-shadow: 2px 2px 5px 0px rgba(171, 171, 171, 1);
}

.title-main {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.title-main p {
	font-weight: bold;
	margin: 0;
}

.btn {
	width: 100%;
	font-size: 1.4rem;
	border: none;
	border-radius: 6px;
	background-color: blue;
	color: #efefef;
	padding: 0.3rem 0;
	cursor: pointer;
}

.mb-3 {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-label {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 4px;
	color: #FFFFFF;
}

.form-control {
	font-size: 1.4rem;
	padding: 4px 8px;
}

.form-text {
	font-size: 0.9rem;
	margin-top: 3px;
    color: #505050;
}

#message-area{
	width: 100%;
	height: 2rem;
}

#errorMessage{
	color: #f5d110;
    font-size: 1.3rem;
    font-weight: 600;
}

